DATABASE_URL=mysql://usuario:clave@localhost:3307/saber_compartido?allowPublicKeyRetrieval=true
PORT=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
CORREO_REMITENTE=
URL_FRONTEND=http://localhost:5173